<!DOCTYPE html>

<head>
    <title> About </title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header }}
        <p> This site is created by Bhawandeep Singla.
            This app uses data from <a href="https://www.mapbox.com/">mapbox</a> and 
            <a href="https://darksky.net">darksky</a>.
        </p>
        <img class="potrait" src="images/robot.png">
    </div>
    
    {{>footer }}
</body>

</html>